.Image {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    background: url("../../assets/Background/bg.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    justify-content: center;
    flex-direction: column;
}

.Image2 {
    display: flex;
    position: absolute;
    width: 100%;
    height: 200px;
    justify-content: center;
    flex-direction: column;
}

.Sign {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    z-index: 0;
}

.SignNone {
    display: none;
}
